<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.egl.eclipse.dt.launching.EglLaunchConfigurationDelegate">
    <booleanAttribute key="appendToFile" value="false"/>
    <listAttribute key="defaultFormatters"/>
    <intAttribute key="egxGenerateTo" value="2"/>
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <intAttribute key="generateTo" value="1"/>
    <listAttribute key="models">
        <listEntry value="aliases=source&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;modelFile=/metaGenExecutive/model/iot2.ecore&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#10;type=EMF&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;expand=true&#10;fileBasedMetamodelUri=&#10;metamodelFile=&#10;cached=true&#10;name=source&#10;modelUri=platform\:/resource/metaGenExecutive/model/iot2.ecore&#10;isMetamodelFileBased=false"/>
    </listAttribute>
    <stringAttribute key="outputDirPath" value="/metaGenExecutive/templates"/>
    <stringAttribute key="outputFilePath" value=""/>
    <listAttribute key="parameters">
        <listEntry value="name=templatePath&#10;type=String&#10;value=../meta-templates/"/>
        <listEntry value="name=outPath&#10;type=String&#10;value=../templates/"/>
        <listEntry value="name=mtHal&#10;type=String&#10;value=IotHal.egl"/>
        <listEntry value="name=annHal&#10;type=String&#10;value=IotHal"/>
        <listEntry value="name=mtStartup&#10;type=String&#10;value=IotStartup.egl"/>
        <listEntry value="name=annStartup&#10;type=String&#10;value=IotStartup"/>
        <listEntry value="name=mtDataStructure&#10;type=String&#10;value=IotDs.egl"/>
        <listEntry value="name=annDataStructure&#10;type=String&#10;value=IotDs"/>
        <listEntry value="name=mtNetHal&#10;type=String&#10;value=IotNetHal.egl"/>
        <listEntry value="name=annNetHal&#10;type=String&#10;value=IotNetHal"/>
    </listAttribute>
    <booleanAttribute key="produceTrace" value="false"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/metaGenExecutive/launch/iotMetaMain2.egx"/>
    <stringAttribute key="templateFactoryType" value="org.eclipse.epsilon.egl.EglFileGeneratingTemplateFactory"/>
    <stringAttribute key="traceDestination" value=""/>
</launchConfiguration>
